body {
    font-family: 'Arial', sans-serif;
    background: url("gekon.jpg") no-repeat fixed center;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    margin: 0;
    padding:0;
    overflow:hidden;
}

.container {
    text-align: center;
    background: url("gekon.jpg") no-repeat fixed center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(250, 0, 0);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#wylosowaneImie {
    font-size: 24px;
    margin-top: 20px;
    color: rgb(250, 0, 0);
}
